.material-icons {
    font-size: 28px;
}

.edit {
    color: #078807;
}

.archive {
    color: rgb(0, 77, 128);
}

.remove {
    color: rgb(202, 12, 12);
}

.unarchived {
    color: rgb(128, 98, 0);
}

.add {
    color: rgb(128, 0, 0);
    font-size: 40px;
    font-weight: 900;
}