<tr key={{id}}>
    <td>{{title}}</td>
    <td>{{created}}</td>
    <td>{{category}}</td>
    <td>
        <button type="button" class="unarchived-todo__btn button">
             <i class="material-icons">unarchive</i>
        </button>
    </td>
</tr>