<section class="active-notes__section  container"> 
  <h2>Active notes</h2>
    <div class="table-responsive">
    <table class="active-notes__table table table-striped">
        <thead>
            <tr class="table-primary dark">
                <th></th>
                <th>Title</th>
                <th>Created</th>
                <th>Category</th>
                <th>Content</th>
                <th>Dates</th>
                <th class="center">Edit</th>
                <th>Archived</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="active-notes__row">
        </tbody>
        </table>
    </div>
</section>