<section class="active-notes__section"> 
    <h2>Active notes</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Created</th>
                <th>Category</th>
                <th>Content</th>
                <th>Dates</th>
                <th>Edit</th>
                <th>Archived</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="active-notes__table">
        </tbody>
        </table>
</section>