<section class="archived-notes__section container">
    <h2>Archived notes</h2>
    <button type="button" class="btn btn-secondary button" id="showBtnArchiv">Hide</button>
    <div class="archived-notes__wrap">
    <table class="archived-notes__table table table-striped table-condensed">
        <thead>
            <tr class="table-success dark">
                <th>Title</th>
                <th>Created</th>
                <th>Category</th>
                <th class="center">Unarchived</th>
            </tr>
        </thead>
        <tbody class="archived-notes__row">
        </tbody>
    </table>
    </div>
</section>