<section class="archived-notes__section">
    <h2>Archived notes</h2>
    <button type="button">Show archived notes</button>
    <table class="archived-notes__table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Category</th>
                <th>Unarchived</th>
            </tr>
        </thead>
        <tbody class="archived-notes__row">
        </tbody>
    </table>
    <button type="button">Hide archived notes</button>
</section>