<section class="container">
<div class="add-todo__wrap">
    <form class="add-todo__form">
        <h2 class="add-todo__text">Created new ToDo</h2>
        <button type="submit" class="add-todo__btn btn button" id="addTodo">
            <i class="material-icons add">add</i>
        </button>
        <div class="input-group input-group-lg">
            <span class="add-todo-information input-group-text" id="basic-addon1">Title</span>
            <input 
            class="add-todo__input form-control" 
            aria-label="add title todo in input" aria-describedby="add-title-input"
            type="text" 
            id="title" 
            autocomplete="off" 
            placeholder="Add title your new todo"
            name="title" 
            />
        </div>
        <div class="input-group input-group-lg">
            <span class="add-todo-information input-group-text" id="basic-addon2">Content</span>
            <input 
            class="add-todo__input form-control" 
            aria-label="add content todo in  input" aria-describedby="add-content-input"
            id="content" type="text" 
            autocomplete="off" 
            placeholder="Add content your new todo"
            name="content" 
            />
        </div>
        <label for="category">Category</label>
        <select id="category" name="category" class="add-todo__category form-select" aria-label="Default select example">
            <option class="add-todo__option" value="task">Task</option>
            <option class="add-todo__option" value="random-thought">Random Thought</option>
            <option class="add-todo__option" value="idea" selected>Idea</option>
            <option class="add-todo__option" value="quote">Quote</option>
        </select>
    </form>
    <p add-todo__hint>Enter the date like dd.mm.yyyy</p>
</div>
</section>